@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-8;
  }

  h1,
  .h1 {
    @apply text-h1;
  }
  h2,
  .h2 {
    @apply text-h2;
  }
  h3,
  .h3 {
    @apply text-h3;
  }
  h4,
  .h4 {
    @apply text-h4;
  }
  h5,
  .h5 {
    @apply text-h5;
  }
  h6,
  .h6 {
    @apply text-h6;
  }
  small,
  .small {
    @apply text-mini;
  }

  p {
    @apply my-8;
    &:last-child,
    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
    + p {
      margin-top: 0;
    }
  }

  p,
  ul,
  ol,
  blockquote {
    @apply leading-6;
  }
}

@layer utilities {
  .wrap {
    @apply container mx-auto my-0 w-full;
    &-lg {
      @apply max-w-7xl;
    }
    &-md {
      @apply max-w-4xl;
    }
    &-sm {
      @apply max-w-3xl;
    }
    &-px {
      @apply px-8;
    }
  }
}
