---
import Layout from "@/layouts/Layout.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Kyle Wigley - Not Found">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">
      Sorry, I probably moved something you're looking for.
    </h1>
  </main>
  <Contact />
</Layout>
