---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Icon } from "astro-icon/components";
import { SITE } from "@/config";
---

<Layout title={SITE.title} description={SITE.desc}>
  <div class="wrap-sm grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto">
    <SectionContainer class="flex flex-col gap-8 mt-32">
      <div class="content-container">
        <div class="max-w-[54rem] mb-8 lg:mb-4">
          <h1
            class="text-4xl lg:text-3xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter mb-0"
          >
            Oops
          </h1>
        </div>
        <div
          class="content text-xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter text-neutral-500"
        >
          This page doesn't exist. Let's get you back somewhere safe.
        </div>
        <a
          href="/"
          class="group font-medium inline-flex no-underline text-neutral-500 mt-8 items-center"
        >
          <Icon
            name="ph:arrow-left-light"
            class="w-6 h-6 mr-4 transition group-hover:-translate-x-1 motion-reduce:transition-none motion-reduce:hover:transform-none hover:text-neutral-700"
          />
          Back to home
        </a>
      </div>
    </SectionContainer>
  </div>
</Layout>
