---
import formatDate from "@/utils/formatDate";

type Props = {
	title: string;
	publishedAt: Date;
	description: string;
	slug: string;
};

const { title, publishedAt, description, slug } = Astro.props;
---

<a
  class="group flex min-w-full cursor-pointer flex-col gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:border-neutral-400"
  href={`/posts/${slug}`}
>
  <div
    class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center"
  >
    <p class="text-neutral-100">{title}</p>
    <div class="flex flex-row items-center gap-4">
      <p>{formatDate(publishedAt)}</p>
    </div>
  </div>
  <p class="truncate">
    {description}
  </p>
</a>
